* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  width: 100vw;
  min-height: 90vh;

  transition: 1s;
}

body {
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 25px 5px;
  border: 1px solid black;
}

.container > h2 {
  text-align: center;
  flex-grow: 1;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: #CCC;
  margin: 0;
  padding: 5px;
}