
#external {
    background-color: rgba(49, 106, 230, 0.1); /*Use the appropriate color for each instance*/
    border: 1px solid rgb(49, 106, 230); /*Use the appropriate color for each instance*/
    padding: 10px;
    margin: 20px 15px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px gray;   
}

#external h1 {
    font-variant: small-caps;
    margin: 0 0 10px 0;
    display: inline-block;
    border-bottom: 3px dashed rgb(49, 106, 230); /*Use the appropriate color for each instance*/
}

#external p {
    font-style: italic;
    margin-bottom: auto;
}

#external p code {
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
}