
form {
  background-color: white;
  border: 2px solid #999;
  border-radius: 10px;
  padding: 20px;
  
}

form h1 {
  text-align: center;
  margin-top: 0;
  width: 100%;
}

form h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

form section {
  min-width: 400px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 10px;
}

form label {
  margin-top: 6px;
}

form input, form textarea, form select {
  padding: 5px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

form select option:first-of-type {
  background-color: #DDD;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #a8cae0;
  cursor: pointer;
}

button:hover {
  background-color: #8dc0e2;
}

button:active {
  background-color: #77b3db;
}

/* ADD VALIDATION CUES CSS BELOW */ 
input:required:valid, select:required:valid {
  border: 1px solid green;
}

input:required:invalid, select:required:invalid {
  border: 1px solid red;
}

label:has(select:required:valid) {
  border: 1px solid green;
}

label:has(select:required:invalid) {
  border: 1px solid red;
}