# In a real application, you will never commit this value to version control, ever
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=ncparks
MYSQL_USER=ncparksuser
# In a real application, you will never commit this value to version control, ever
MYSQL_PASSWORD=

# This must match the name of the database service in your compose.yml file
DB_HOST=
DB_PORT=
DB_CHARSET=utf8mb4


PORT=
# In a real application, you will never commit this value to version control, ever
API_SECRET_KEY=
