<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>North Carolina Parks - Error</title>
  <link href='./css/base.css' rel='stylesheet' />
  <link href='./css/error.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="./js/common.js" type="module"></script>

  <!-- BEGIN FAVICON -->
  <link rel="icon" href="/img/nc-favicon-32x32.png">
  <meta name="theme-color" content="#252831">
  <link rel="apple-touch-icon" sizes="192x192" href="/img/icon-192x192.png">
  <link rel="apple-touch-icon" sizes="256x256" href="/img/icon-256x256.png">
  <link rel="apple-touch-icon" sizes="384x384" href="/img/icon-384x384.png">
  <link rel="apple-touch-icon" sizes="512x512" href="/img/icon-512x512.png">
  <!-- END FAVICON -->
</head>

<body>
  <header>
    <nav>
      <h1><a href="./">North Carolina Parks</a></h1>
    </nav>
    <div class="menu"><label><input type="checkbox"> Dark Mode</label></div>
  </header>

  <main>
    <h1>Error. Could not find park.</h1>
  </main>
  <footer id="footer">
    Copyright (c) 2017 <a href="./"><strong>NC Parks</strong></a> All Rights Reserved.
  </footer>

</body>

</html>