* {
  box-sizing: border-box;
}

/* Add styles for the customButton class here */
.customButton {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EFEFEF;
  border: none;
  color: black;
  padding: 1.7px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-width: .5px;
  border-style: outset;
  border-color: black;
  user-select: none;
}

/* Add styles for when the mouse is over the button here */
.customButton:hover {
  background-color: #dddddd;
}

/* Add styles for when the button is being pressed here */
.customButton:active {
  background-color: #f3f3f3;
}

/* Add styles for when the button is given focus here */
/* Already indexed and given border change in browser */
.customButton:focus {
  background-color: #f3f3f3;
}