#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; 
  min-height: calc(100vh - var(--header-height) - var(--footer-height)); 
  padding: 1rem; 
  box-sizing: border-box; 
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.insufficient-funds {
  background-color: gray !important;
  cursor: not-allowed;
  border-color: gray !important;
  color: white; /* Optional for contrast */
}


.navbar-nav {
    align-items: center;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
    .custom-navbar {
        padding: 0.5rem;
    }
}

.custom-navbar {
    padding: 0 2rem;
    border-radius: 8px;
    margin: 0.5rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #f8f9fa !important;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}

.nav-link {
    margin: 0 0.5rem;
    font-size: 1.1rem;
    color: #d1d1d1 !important;
    transition: color 0.3s ease;
}

.nav-link.active, .nav-link:hover {
    color: #f8f9fa !important;
    text-decoration: underline;
}

.markdown-content {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 20px;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  color: #333;
  font-weight: bold;
}

.markdown-content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.markdown-content h2 {
  font-size: 2em;
  margin-bottom: 8px;
}

.markdown-content h3 {
  font-size: 1.5em;
  margin-bottom: 6px;
}

.markdown-content p {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.markdown-content ul,
.markdown-content ol {
  margin-left: 20px;
}

.markdown-content blockquote {
  background: #f9f9f9;
  border-left: 4px solid #ccc;
  padding: 10px 20px;
  font-style: italic;
  color: #666;
}

.markdown-content a {
  color: #1e90ff;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}

.markdown-content pre {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  font-size: 1em;
  overflow-x: auto;
}

.markdown-content code {
  font-family: monospace;
  background-color: #f0f0f0;
  padding: 2px 6px;
  border-radius: 3px;
}