/* HumanFlourishing.css */

.content-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.markdown-content {
  font-size: 1.1rem;
  color: #444;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  white-space: pre-wrap;
  text-align: left;
}

.markdown-content pre {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto; 
  text-align: left;
  
}

.error-message {
  color: red;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  background-color: #f8d7da;
  border-radius: 5px;
}