@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}

.fullWidth {
  width: 100%;
  padding: 20px;
}

.halfWidth {
  width: 50vw;
  padding: 20px;
}


.red {
  background-color: #990000;
  color: white;
}

.orange {
  background-color: #D14905;
  color: white;
}

.yellow {
  background-color: #FAC800;
  color: black;
}

.green {
  background-color: #6F7D1C;
  color: white;
}

.aqua {
  background-color: #008473;
  color: white;
}

.blue {
  background-color: #427E93;
  color: white;
}

.purple {
  background-color: #4156A1;
  color: white;
}