nav {
    position: absolute;
    height: 100%;
    transform: translate(-300px, 0);
}

nav.open {
    transform: translate(0, 0);
}

/* Don't need to define 'screen' here */
@media (min-width: 600px) {
    nav {
        position: relative;
        transform: translate(0, 0);
    }
    #menuToggle {
        display: none;
    }

    main::after {
        content: 'The drawer stays open (and this is shown) if width > 600px';
    } 
    main p,
    nav p {
        text-decoration: line-through;
    }
}

@media print {
    #menuToggle {
        display: none;
    }
    main.purple {
        background-color: white;
        font: black;
    }
    nav {
        display: none;
    }
}