/* Registration Page Scoped */
.registration-page {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E9E9DD;
}

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Title */
.registration-title {
  color: #164437;
  text-align: center;
  margin: 2em;
}

/* Form */
.registration-form-container {
  width: 70%;
  text-align: center;
  margin: 2em;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form input,
.registration-form label {
  margin: 1em;
  border: 1px solid black;
  font-size: 1em;
}

.registration-form label {
  background-color: #164437;
  color: white;
  padding: 1em;
  border-radius: 20px;
}

#submit {
  display: none;
}

/* Policies */
.registration-policies {
  text-align: center;
  margin-top: 1em;
}

.registration-policies a {
  color: #164437;
  text-decoration: none;
}

.registration-policies a:hover {
  text-decoration: underline;
}

/* Existing User Section */
.registration-existing-user {
  text-align: center;
}

.registration-existing-user-button {
  background-color: #164437;
  color: white;
  padding: 1em;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
